In [1]:
import geopandas as gpd
import os

In [2]:
gdf = gpd.read_file('data/208.csv')
gdf

,field_1,field_2,field_3,field_4,field_5,field_6,field_7,field_8,field_9,field_10,field_11,field_12,field_13,field_14
0,GSM,208,1,29188,3516,0,7.1865,43.7301,500,102,1,1290426771,1713459842,0
1,GSM,208,1,29185,23368,0,7.2129,43.7467,22441,113,1,1290426782,1725995464,0
2,GSM,208,1,22785,53084,0,0.2627,49.3109,10193,27,1,1308983842,1732723142,0
3,GSM,208,1,22785,695,0,0.3142,49.3192,2331,49,1,1308983842,1732723382,0
4,GSM,208,1,22785,28709,0,0.2561,49.2972,9276,49,1,1308983842,1732723742,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
417315,LTE,208,15,9219,4745011,-1,2.3565,48.7984,2543,2,1,1733390405,1733428682,0
417316,LTE,208,15,46506,162284038,-1,2.359,48.8212,1000,1,1,1733390315,1733390315,0
417317,UMTS,208,15,3921,73653117,34,2.3447,48.7782,1000,3,1,1733391035,1733428682,0
417318,LTE,208,15,9219,105651016,-1,2.3421,48.7783,1000,2,1,1733391055,1733428682,0
417319,LTE,208,15,9219,2410037,-1,2.3309,48.7638,1000,1,1,1733407985,1733407985,0

https://wiki.opencellid.org/wiki/Database_format

<table class="wikitable sortable jquery-tablesorter" style="font-size: 85%; text-align: left;">

<thead><tr>
<th scope="col" class="headerSort" tabindex="0" role="columnheader button" title="Sort ascending"> Parameter
</th>
<th scope="col" class="headerSort" tabindex="0" role="columnheader button" title="Sort ascending"> Data type
</th>
<th scope="col" class="headerSort" tabindex="0" role="columnheader button" title="Sort ascending"> Description
</th></tr></thead><tbody>
<tr>
<td title="Parameter"> &lt;radio&gt;
</td>
<td title="Data type"> string
</td>
<td title="Description"> Network type. One of the strings GSM, UMTS, LTE or CDMA.
</td></tr>
<tr>
<td title="Parameter"> &lt;mcc&gt;
</td>
<td title="Data type"> integer
</td>
<td title="Description"> Mobile Country Code, for example 260 for Poland.
</td></tr>
<tr>
<td title="Parameter"> &lt;net&gt;
</td>
<td title="Data type"> integer
</td>
<td title="Description"> For GSM, UMTS and LTE networks, this is the Mobile Network Code (MNC).<br>For CDMA networks, this is the System IDentification number (SID).
</td></tr>
<tr>
<td title="Parameter"> &lt;area&gt;
</td>
<td title="Data type"> integer
</td>
<td title="Description"> Location Area Code (LAC) for GSM and UMTS networks.<br>Tracking Area Code (TAC) for LTE networks.<br>Network IDenfitication number (NID) for CDMA networks.
</td></tr>
<tr>
<td title="Parameter"> &lt;cell&gt;
</td>
<td title="Data type"> integer
</td>
<td title="Description"> Cell ID (CID) for GSM and LTE networks.<br>UTRAN Cell ID / LCID for UMTS networks, which is the concatenation of 2 or 4 bytes of Radio Network Controller (RNC) code and 4 bytes of Cell ID.<br>Base station IDentifier number (BID) for CDMA networks.
</td></tr>
<tr>
<td title="Parameter"> &lt;unit&gt;
</td>
<td title="Data type"> integer
</td>
<td title="Description"> Primary Scrambling Code (PSC) for UMTS networks.<br>Physical Cell ID (PCI) for LTE networks. An empty value for GSM and CDMA networks.
</td></tr>
<tr>
<td title="Parameter"> &lt;lon&gt;
</td>
<td title="Data type"> double
</td>
<td title="Description"> Longitude in degrees between -180.0 and 180.0<br>changeable=1: average of longitude values of all related measurements<br>changeable=0: exact GPS position of the cell tower
</td></tr>
<tr>
<td title="Parameter"> &lt;lat&gt;
</td>
<td title="Data type"> double
</td>
<td title="Description"> Latitude in degrees between -90.0 and 90.0<br>changeable=1: average of latitude values of all related measurements<br>changeable=0: exact GPS position of the tower
</td></tr>
<tr>
<td title="Parameter"> &lt;range&gt;
</td>
<td title="Data type"> integer
</td>
<td title="Description"> Estimate of cell range, in meters.
</td></tr>
<tr>
<td title="Parameter"> &lt;samples&gt;
</td>
<td title="Data type"> integer
</td>
<td title="Description"> Total number of measurements assigned to the cell tower
</td></tr>
<tr>
<td title="Parameter"> &lt;changeable&gt;
</td>
<td title="Data type"> integer
</td>
<td title="Description"> Defines if coordinates of the cell tower are exact or approximate.<br>changeable=1: the GPS position of the cell tower has been calculated from all available measurements<br>changeable=0: the GPS position of the cell tower is precise - no measurements have been used to calculate it.
</td></tr>
<tr>
<td title="Parameter"> &lt;created&gt;
</td>
<td title="Data type"> integer
</td>
<td title="Description"> The first time when the cell tower was seen and added to the OpenCellID database.<br>A date in timestamp format:<br>number of seconds since the UTC Unix Epoch of 1970-01-01T00:00:00Z<br>For example 1409522613 is the timestamp for 2014-08-31T22:03:33Z.
</td></tr>
<tr>
<td title="Parameter"> &lt;updated&gt;
</td>
<td title="Data type"> integer
</td>
<td title="Description"> The last time when the cell tower was seen and update.<br>A date in timestamp format:<br>number of seconds since the UTC Unix Epoch of 1970-01-01T00:00:00Z<br>For example 1409522613 is the timestamp for 2014-08-31T22:03:33Z.
</td></tr>
<tr>
<td title="Parameter"> &lt;averageSignal&gt;
</td>
<td title="Data type"> integer
</td>
<td title="Description"> Average signal strength from all assigned measurements for the cell.<br>Either in dBm or as defined in TS 27.007 8.5 - both is accepted.
</td></tr></tbody><tfoot></tfoot></table>

In [3]:
gdf.columns = ['radio', 'mcc', 'net', 'area', 'cell', 'unit', 'lon', 'lat', 'range', 'samples', 'changeable', 'created', 'updated', 'averageSignal']
gdf.sample(10)

,radio,mcc,net,area,cell,unit,lon,lat,range,samples,changeable,created,updated,averageSignal
161265,GSM,208,1,15278,21564,-1,3.5346,50.3512,1000,20,1,1671782539,1718821035,0
204698,UMTS,208,1,5397,28779787,346,5.3889,43.509,1000,28,1,1688485576,1688991251,0
384765,UMTS,208,15,3910,93516896,469,0.8657,47.0603,1000,1,1,1724916154,1724916154,0
176496,GSM,208,10,26057,19117,-1,2.1195,48.6792,1559,26,1,1680677595,1731528792,0
35450,GSM,208,20,22532,4453,0,3.1899,45.2401,2771,28,1,1472106040,1733080370,0
184312,GSM,208,20,118,27,-1,4.765,45.6438,13332,47,1,1683476455,1722433269,0
90308,LTE,208,1,39393,22905857,-1,7.3356,48.1427,3994,9,1,1579050183,1694522733,0
26003,GSM,208,1,2059,40255,0,4.5522,44.7195,16155,50,1,1460117561,1732130020,0
195223,GSM,208,1,19201,661,-1,1.7875,49.1471,1000,28,1,1686653368,1703877982,0
326683,UMTS,208,10,48516,161635336,0,5.8311,45.202,1000,11,1,1712632989,1727339166,0

In [6]:
# Create geometry from lon and lat
gdf['geometry'] = gpd.points_from_xy(gdf['lon'], gdf['lat'])
gdf.head()

,radio,mcc,net,area,cell,unit,lon,lat,range,samples,changeable,created,updated,averageSignal,geometry
0,GSM,208,1,29188,3516,0,7.1865,43.7301,500,102,1,1290426771,1713459842,0,POINT (7.1865 43.7301)
1,GSM,208,1,29185,23368,0,7.2129,43.7467,22441,113,1,1290426782,1725995464,0,POINT (7.2129 43.7467)
2,GSM,208,1,22785,53084,0,0.2627,49.3109,10193,27,1,1308983842,1732723142,0,POINT (0.2627 49.3109)
3,GSM,208,1,22785,695,0,0.3142,49.3192,2331,49,1,1308983842,1732723382,0,POINT (0.3142 49.3192)
4,GSM,208,1,22785,28709,0,0.2561,49.2972,9276,49,1,1308983842,1732723742,0,POINT (0.2561 49.2972)

In [9]:
gdf = gpd.GeoDataFrame(gdf, geometry='geometry')
type(gdf)

geopandas.geodataframe.GeoDataFrame

In [10]:
# Set the GeoDataFrame CRS (e.g., WGS84/espg=4326 for GPS data)
gdf.set_crs(epsg=4326, inplace=True)

,radio,mcc,net,area,cell,unit,lon,lat,range,samples,changeable,created,updated,averageSignal,geometry
0,GSM,208,1,29188,3516,0,7.1865,43.7301,500,102,1,1290426771,1713459842,0,POINT (7.1865 43.7301)
1,GSM,208,1,29185,23368,0,7.2129,43.7467,22441,113,1,1290426782,1725995464,0,POINT (7.2129 43.7467)
2,GSM,208,1,22785,53084,0,0.2627,49.3109,10193,27,1,1308983842,1732723142,0,POINT (0.2627 49.3109)
3,GSM,208,1,22785,695,0,0.3142,49.3192,2331,49,1,1308983842,1732723382,0,POINT (0.3142 49.3192)
4,GSM,208,1,22785,28709,0,0.2561,49.2972,9276,49,1,1308983842,1732723742,0,POINT (0.2561 49.2972)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
417315,LTE,208,15,9219,4745011,-1,2.3565,48.7984,2543,2,1,1733390405,1733428682,0,POINT (2.3565 48.7984)
417316,LTE,208,15,46506,162284038,-1,2.359,48.8212,1000,1,1,1733390315,1733390315,0,POINT (2.359 48.8212)
417317,UMTS,208,15,3921,73653117,34,2.3447,48.7782,1000,3,1,1733391035,1733428682,0,POINT (2.3447 48.7782)
417318,LTE,208,15,9219,105651016,-1,2.3421,48.7783,1000,2,1,1733391055,1733428682,0,POINT (2.3421 48.7783)
417319,LTE,208,15,9219,2410037,-1,2.3309,48.7638,1000,1,1,1733407985,1733407985,0,POINT (2.3309 48.7638)

In [3]:
gdf['cell'].nunique()

305598

In [14]:
# export gdf to geojson file
gdf.to_file('data/208.geojson', driver='GeoJSON')
# ~ 150 Mo

In [1]:
import geopandas as gpd

gdf = gpd.read_file('data/208.geojson', driver='GeoJSON')
gdf.head()

/home/yohann/projects/cell_towers/venv_cell_towers/lib/python3.10/site-packages/pyogrio/raw.py:198: RuntimeWarning: driver GeoJSON does not support open option DRIVER
  return ogr_read(

,radio,mcc,net,area,cell,unit,lon,lat,range,samples,changeable,created,updated,averageSignal,geometry
0,GSM,208,1,29188,3516,0,7.1865,43.7301,500,102,1,1290426771,1713459842,0,POINT (7.1865 43.7301)
1,GSM,208,1,29185,23368,0,7.2129,43.7467,22441,113,1,1290426782,1725995464,0,POINT (7.2129 43.7467)
2,GSM,208,1,22785,53084,0,0.2627,49.3109,10193,27,1,1308983842,1732723142,0,POINT (0.2627 49.3109)
3,GSM,208,1,22785,695,0,0.3142,49.3192,2331,49,1,1308983842,1732723382,0,POINT (0.3142 49.3192)
4,GSM,208,1,22785,28709,0,0.2561,49.2972,9276,49,1,1308983842,1732723742,0,POINT (0.2561 49.2972)

In [2]:
type(gdf)

geopandas.geodataframe.GeoDataFrame

In [3]:
gdf.geometry

0         POINT (7.1865 43.7301)
1         POINT (7.2129 43.7467)
2         POINT (0.2627 49.3109)
3         POINT (0.3142 49.3192)
4         POINT (0.2561 49.2972)
                   ...
417315    POINT (2.3565 48.7984)
417316     POINT (2.359 48.8212)
417317    POINT (2.3447 48.7782)
417318    POINT (2.3421 48.7783)
417319    POINT (2.3309 48.7638)
Name: geometry, Length: 417320, dtype: geometry

In [5]:
gdf['id'] = gdf.index

In [11]:
gdf_light = gdf[['id', 'geometry']]

In [13]:
gdf_light.to_file('data/208_light.geojson', driver='GeoJSON')

# ANFR Observatoire data
https://data.anfr.fr

In [ ]:
import geopandas as gpd

gdf = gpd.read_file('data/observatoire_2g_3g_4g.geojson')

In [19]:
gdf

,_id,ï»¿id,adm_lb_nom,sup_id,emr_lb_systeme,emr_dt,sta_nm_dpt,code_insee,generation,date_maj,...,tpo_id,adr_lb_lieu,adr_lb_add1,adr_lb_add2,adr_lb_add3,adr_nm_cp,com_cd_insee,coord,statut,geometry
0,1,1,ORANGE,1000053,5G NR 3500,29/01/2021,076,76351,5G,05/12/2024,...,74,,Avenue du 16Ã¨me Port,Terminal de l'Europe,,76600,76351,49Â°29'4''N 0Â°10'16''E,Techniquement opÃ©rationnel,POINT (0.17111 49.48444)
1,2,2,ORANGE,1000053,GSM 900,24/03/2020,076,76351,2G,05/12/2024,...,74,,Avenue du 16Ã¨me Port,Terminal de l'Europe,,76600,76351,49Â°29'4''N 0Â°10'16''E,En service,POINT (0.17111 49.48444)
2,3,3,ORANGE,1000053,LTE 1800,14/12/2017,076,76351,4G,05/12/2024,...,74,,Avenue du 16Ã¨me Port,Terminal de l'Europe,,76600,76351,49Â°29'4''N 0Â°10'16''E,En service,POINT (0.17111 49.48444)
3,4,4,ORANGE,1000053,LTE 2100,23/09/2019,076,76351,4G,05/12/2024,...,74,,Avenue du 16Ã¨me Port,Terminal de l'Europe,,76600,76351,49Â°29'4''N 0Â°10'16''E,En service,POINT (0.17111 49.48444)
4,5,5,ORANGE,1000053,LTE 2600,21/02/2020,076,76351,4G,05/12/2024,...,74,,Avenue du 16Ã¨me Port,Terminal de l'Europe,,76600,76351,49Â°29'4''N 0Â°10'16''E,En service,POINT (0.17111 49.48444)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
769127,769128,769128,SFR,998947,UMTS 900,24/02/2014,069,69089,3G,05/12/2024,...,72,,41 RTE DU BRUISSIN,,,69340,69089,45Â°43'51''N 4Â°45'12''E,En service,POINT (4.75333 45.73083)
769128,769129,769129,BOUYGUES TELECOM,998947,UMTS 900,29/09/2022,069,69089,3G,05/12/2024,...,72,,41 RTE DU BRUISSIN,,,69340,69089,45Â°43'51''N 4Â°45'12''E,En service,POINT (4.75333 45.73083)
769129,769130,769130,ORANGE,99960,GSM 900,31/03/2000,059,59350,2G,05/12/2024,...,24,LOMME DELIVRANCE,Gare Lille DÃ©livrance,,,59800,59350,50Â°38'4''N 2Â°59'44''E,En service,POINT (2.99556 50.63444)
769130,769131,769131,ORANGE,99960,LTE 800,18/03/2014,059,59350,4G,05/12/2024,...,24,LOMME DELIVRANCE,Gare Lille DÃ©livrance,,,59800,59350,50Â°38'4''N 2Â°59'44''E,En service,POINT (2.99556 50.63444)
769131,769132,769132,ORANGE,99960,UMTS 900,05/10/2017,059,59350,3G,05/12/2024,...,24,LOMME DELIVRANCE,Gare Lille DÃ©livrance,,,59800,59350,50Â°38'4''N 2Â°59'44''E,En service,POINT (2.99556 50.63444)

In [15]:
gdf.shape

(769132, 23)

In [17]:
gpd.GeoDataFrame(gdf.columns)

                 0
0              _id
1              ï»¿id
2       adm_lb_nom
3           sup_id
4   emr_lb_systeme
5           emr_dt
6       sta_nm_dpt
7       code_insee
8       generation
9         date_maj
10     sta_nm_anfr
11          nat_id
12     sup_nm_haut
13          tpo_id
14     adr_lb_lieu
15     adr_lb_add1
16     adr_lb_add2
17     adr_lb_add3
18       adr_nm_cp
19    com_cd_insee
20           coord
21          statut
22        geometry

In [18]:
gdf.geometry

0         POINT (0.17111 49.48444)
1         POINT (0.17111 49.48444)
2         POINT (0.17111 49.48444)
3         POINT (0.17111 49.48444)
4         POINT (0.17111 49.48444)
                    ...
769127    POINT (4.75333 45.73083)
769128    POINT (4.75333 45.73083)
769129    POINT (2.99556 50.63444)
769130    POINT (2.99556 50.63444)
769131    POINT (2.99556 50.63444)
Name: geometry, Length: 769132, dtype: geometry

In [27]:
gdf.iloc[0]['_id']

'1'

In [25]:
gdf.iloc[0]['code_insee']

'76351'

In [28]:
gdf['id'] = gdf.index

In [29]:
gdf[['id', 'geometry']].to_file('data/obs_light.geojson', driver='GeoJSON')

In [30]:
gdf_light = gdf[['id', 'geometry']]

In [31]:
# drop duplicates on geometry
gdf_dropped = gdf_light.drop_duplicates(subset='geometry')

In [32]:
gdf_dropped.shape

(68380, 2)

In [33]:
gdf_dropped.to_file('data/obs_light.geojson', driver='GeoJSON')